@tailwind base;
@tailwind components;
@tailwind utilities;

.search-wrapper{
   @apply static w-full;
   direction:rtl;
   .input-wrapper{
      @apply relative flex h-8 w-full rounded-3xl;
      direction: rtl;
      /* transition: width 500ms; */
      /* &.active{
         transition: width 500ms;
         width: 680px;
      } */
      input{
         @apply absolute justify-center border border-gray-300 h-full w-full rounded-3xl p-3 focus:outline-none focus:ring-violet-300 duration-500;
         direction: ltr;
         &.active{
            @apply duration-500 w-full sm:w-[650px];
         }
      }
      input[type="search"]::-webkit-search-decoration,
      input[type="search"]::-webkit-search-cancel-button,
      input[type="search"]::-webkit-search-results-button,
      input[type="search"]::-webkit-search-results-decoration { display: none; }
   
      .search-append{
         @apply absolute right-4 inset-y-1/4 w-4;
         z-index: 1;
      }
   
   }
   .search-section{
      @apply fixed sm:absolute border-t border-gray-300 overflow-auto mt-2 h-full sm:h-96 w-full left-0 sm:left-[34%] w-full sm:w-1/2 bg-white;
      border-radius:5px;
      z-index:999;
      .search-notFound{
         @apply flex justify-center italic text-gray-400;
      }

      .items-search-wrapper{
         @apply cursor-pointer flex justify-between p-4 mb-5;
         &:hover{
            @apply bg-gray-100;
         }
         .search-img-wrapper{
            @apply hidden sm:flex items-center mr-3;
            height: 60px;
            img{
               height: 60px !important;
            }
         }
         .img-text{
            @apply inline
         }
      }
   }
}